---
import ThemeChengeller from "./components/ThemeChengeller.astro";
import DropdownMenu from "./components/DropdownMenu.astro";
import DropdownMenuNoOverlay from "./components/DropdownMenuNoOverlay.astro";

const pages = await Astro.glob("../../pages/cursoia/*.astro");

interface PageData {
  title: string;
  category?: string;
  url: string;
}

const groupedPages = pages.reduce((acc: Record<string, PageData[]>, page) => {
  const p = page as unknown as PageData;
  const category = p.category || "Otros";
  if (!acc[category]) acc[category] = [];
  acc[category].push(p);
  return acc;
}, {});

const categoriesOrder = [
  "Conceptos Básicos",
  "Modelos de IA",
  "Prompt Engineering",
];
---

<!--  -->
<div
  class="fixed
  md:relative
  bottom-4
  right-4
  z-50
  bg-secondary/40
  rounded-full
  p-2 md:p-2
  md:bg-secondary/0
  overlay-minified:md:mb-0
  overlay-minified:lg:mb-0
  overlay-minified:xl:mb-0
  md:mb-16 lg:mb-24 xl:mb-8"
>
  <div class="hidden md:block">
    <nav
      class="navbar
            rounded-box
            shadow-base-300/20
            shadow-sm
            fixed w-screen
            overlay-minified:hidden"
    >
      <div class="w-full md:flex md:items-center md:gap-2">
        <div class="flex flex-auto items-center justify-between">
          <div class="navbar-start items-center justify-between max-md:w-full">
            <a
              class="link
              link-neutral
              text-primary
              text-3xl
              font-mono
              font-bold
              no-underline"
              href="#"
            >
              CasaTorres
            </a>
          </div>
        </div>
        <div
          id="default-navbar-collapse"
          class="md:navbar-end collapse hidden grow basis-full overflow-hidden transition-[height] duration-300 max-md:w-full"
        >
          <ul
            class="menu md:menu-horizontal gap-2 p-0 text-base max-md:mt-2 flex items-center"
          >
            <li><a href="#">Inicio</a></li>
            <li><ThemeChengeller /></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <!------------------------- Sidebar ------------------------->
  <button
    type="button"
    class="btn btn-text max-sm:btn-square md:hidden"
    aria-haspopup="dialog"
    aria-expanded="false"
    aria-controls="collapsible-mini-sidebar"
    data-overlay="#collapsible-mini-sidebar"
  >
    <span class="icon-[tabler--menu-2] size-6 text-white"></span>
  </button>
</div>

<aside
  id="collapsible-mini-sidebar"
  class="overlay-minified:pt-0
        pt-4 md:pt-22
        [--auto-close:md]
        overlay
        overlay-minified:w-17
        md:shadow-none
        overlay-open:translate-x-0
        drawer drawer-start hidden
        w-66 md:z-0
        md:flex
        md:translate-x-0
        border-e
        border-base-content/20
        h-screen z-50"
  role="dialog"
  tabindex="-2"
>
  <div
    class="drawer-header
          flex
          items-center
          justify-between
          gap-3
          overlay-minified:px-3.75
          py-2
          w-full"
  >
    <div class="overlay-minified:hidden">
      <p>
        <span class="text-xs bg-primary/50 py-1 px-2 rounded-full">Curso</span>
      </p>
      <h3 class="drawer-title text-2xl font-bold">Docencia 5.0</h3>
      <p class="leading-4 text-balance">
        Integración Ética y Práctica de la Inteligencia Artificial
      </p>
    </div>
    <div class="hidden md:block">
      <!-- Toggle Button -->
      <button
        type="button"
        class="btn btn-circle btn-text"
        aria-haspopup="dialog"
        aria-expanded="false"
        aria-controls="collapsible-mini-sidebar"
        aria-label="Minify navigation"
        data-overlay-minifier="#collapsible-mini-sidebar"
      >
        <span class="icon-[tabler--menu-2] size-5"></span>
        <span class="sr-only">Navigation Toggle</span>
      </button>
      <!-- End Toggle Button -->
    </div>
  </div>
  <div class="drawer-body px-2 pt-4">
    <ul class="menu p-0">
      <DropdownMenu
        title="Introducción"
        icon="icon-[ic--baseline-emoji-flags] size-5"
      >
        {
          ["Conceptos Básicos", "Modelos de IA"].map((category) => {
            const categoryPages = groupedPages[category];
            if (!categoryPages || categoryPages.length === 0) return null;

            return (
              <DropdownMenuNoOverlay
                title={category}
                icon="icon-[la--book] size-5"
              >
                {categoryPages.map((page) => (
                  <li>
                    <a href={page.url}>
                      <span class="icon-[la--arrow-right]" />
                      {page.title}
                    </a>
                  </li>
                ))}
              </DropdownMenuNoOverlay>
            );
          })
        }
      </DropdownMenu>

      <!-- Prompt Engineering -->

      <DropdownMenu
        title="AI profesional"
        icon="icon-[fluent--prompt-16-filled] size-5"
      >
        {
          ["Prompt Engineering"].map((category) => {
            const categoryPages = groupedPages[category];
            if (!categoryPages || categoryPages.length === 0) return null;

            return (
              <DropdownMenuNoOverlay
                title={category}
                icon="icon-[la--book] size-5"
              >
                {categoryPages.map((page) => (
                  <li>
                    <a href={page.url}>
                      <span class="icon-[la--arrow-right]" />
                      {page.title}
                    </a>
                  </li>
                ))}
              </DropdownMenuNoOverlay>
            );
          })
        }
      </DropdownMenu>
      <!-- Prompt E -->
    </ul>
  </div>
</aside>
